<div class="footer mt-3">
  <!--<p jhiTranslate="footer">This is your footer</p>-->
  <!-- Site footer -->

  <footer class="text-center text-white bg-dark">
    <!-- Grid container -->
    <div class="container p-4">
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">Footer text</h5>

          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias. Fugiat pariatur maxime quis culpa
            corporis vitae repudiandae aliquam voluptatem veniam, est atque cumque eum delectus sint!
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-md-0 mb-3">
          <!-- Links -->
          <h5 class="text-uppercase">Contactanos</h5>

          <ul class="list-unstyled">
            <li>
              <i class="fab fa-facebook-f"></i>
              <a href="https://www.facebook.com/Tecnopcmundo" class="text-white">Facebook</a>
            </li>
            <li>
              <i class="far fa-envelope"></i>
              <a href="#!" class="text-white">tecnopcmundo@hotmail.com</a>
            </li>
            <li>
              <i class="fas fa-map-marker-alt"></i>
              <a
                href="https://www.google.com/maps/place/Tecnopcmundo/@2.779353,-75.2574437,17z/data=!3m1!4b1!4m5!3m4!1s0x8e3b6c1a07b07f31:0xd8b0a36ae1429240!8m2!3d2.7793398!4d-75.2552569?hl=es"
                class="text-white"
                >Encuentranos</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" routerLink="/">TECNOPCMUNDO</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
