<div>
  <h2 id="page-heading" data-cy="CategoriaPublicacionHeading">
    <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.home.title">Categoria Publicacions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-categoria-publicacion"
        [routerLink]="['/categoria-publicacion/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.home.createLabel"> Create a new Categoria Publicacion </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="categoriaPublicacions?.length === 0">
    <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.home.notFound">No categoriaPublicacions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="categoriaPublicacions && categoriaPublicacions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="titulo">
            <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.titulo">Titulo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="descripcion">
            <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.descripcion">Descripcion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createAt">
            <span jhiTranslate="inventarioTecnoPcMundoApp.categoriaPublicacion.createAt">Create At</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoriaPublicacion of categoriaPublicacions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/categoria-publicacion', categoriaPublicacion.id, 'view']">{{ categoriaPublicacion.id }}</a>
          </td>
          <td>{{ categoriaPublicacion.titulo }}</td>
          <td>{{ categoriaPublicacion.descripcion }}</td>
          <td>{{ categoriaPublicacion.createAt | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/categoria-publicacion', categoriaPublicacion.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/categoria-publicacion', categoriaPublicacion.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(categoriaPublicacion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="categoriaPublicacions && categoriaPublicacions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
