<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="proveedor">
      <h2 data-cy="proveedorDetailsHeading"><span jhiTranslate="inventarioTecnoPcMundoApp.proveedor.detail.title">Proveedor</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ proveedor.id }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.proveedor.nit">Nit</span></dt>
        <dd>
          <span>{{ proveedor.nit }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.proveedor.nombre">Nombre</span></dt>
        <dd>
          <span>{{ proveedor.nombre }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.proveedor.contacto">Contacto</span></dt>
        <dd>
          <span>{{ proveedor.contacto }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.proveedor.direccion">Direccion</span></dt>
        <dd>
          <span>{{ proveedor.direccion }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/proveedor', proveedor.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
