<div>
  <h2 id="page-heading" data-cy="DetallesUsuarioHeading">
    <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.home.title">Detalles Usuarios</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-success jh-create-entity create-detalles-usuario"
        [routerLink]="['/detalles-usuario/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.home.createLabel"> Create a new Detalles Usuario </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="detallesUsuarios?.length === 0">
    <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.home.notFound">No detallesUsuarios found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="detallesUsuarios && detallesUsuarios.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id">
            <span jhiTranslate="global.field.id">ID</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="telefono">
            <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.telefono">Telefono</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="identificacion">
            <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.identificacion">Identificacion</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="ciudad">
            <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.ciudad">Ciudad</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="user.login">
            <span jhiTranslate="inventarioTecnoPcMundoApp.detallesUsuario.user">User</span>
            <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detallesUsuario of detallesUsuarios; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/detalles-usuario', detallesUsuario.id, 'view']">{{ detallesUsuario.id }}</a>
          </td>
          <td>{{ detallesUsuario.telefono }}</td>
          <td>{{ detallesUsuario.identificacion }}</td>
          <td>{{ detallesUsuario.ciudad }}</td>
          <td>
            {{ detallesUsuario.user?.login }}
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/detalles-usuario', detallesUsuario.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/detalles-usuario', detallesUsuario.id, 'edit']"
                class="btn btn-success btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <!--
              <button type="submit" (click)="delete(detallesUsuario)" class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
              -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="detallesUsuarios && detallesUsuarios.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
