<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="compra">
      <h2 data-cy="compraDetailsHeading"><span jhiTranslate="inventarioTecnoPcMundoApp.compra.detail.title">Compra</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ compra.id }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.compra.total">Total</span></dt>
        <dd>
          <span>{{ compra.total }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.compra.createAt">Create At</span></dt>
        <dd>
          <span>{{ compra.createAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="inventarioTecnoPcMundoApp.compra.user">User</span></dt>
        <dd>
          <div *ngIf="compra.user">
            <a [routerLink]="['/detalles-usuario', compra.user?.id, 'view']">{{ compra.user?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/compra', compra.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
